<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Usage Stats Permission (requires user to enable in Settings) -->
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <!-- Overlay Permission (requires user to enable in Settings) -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

</manifest>
